---
---

body {
    font-family: serif;
    color: #000;
    background: #FFF;
    margin: 0;
    * {
        font-size: 1.5rem;
        line-height: 1.25;
        color: inherit;
        font-weight: normal;
    }

    blockquote {
        font: inherit;
        white-space: inherit;
        font-style: italic;
        padding: 0rem;
        margin: 0;
        p {
            text-align: center;
            margin: 0;
        }
    }
    a {
        text-decoration: none;
        color: rgb(0,122,255);
        &[href^="mailto:"] {
            color: rgb(123, 255, 0);
        }
    }
    h1 {
        font-size: 4rem;
    }
    section {
        max-width: 800px;
        margin: auto;
        padding-top: 1rem;
    }
    footer {
        max-width: 100%;
        color: #FFF;
        background: #504848;
    }
    .footer-container {
        max-width: 800px;
        margin: auto;
        padding-top: 1rem;
        display: flex;
        margin-top: 1rem;
        padding-top: 0;
        
        & > div {
            flex-basis: 50%;
            em {
                display: block;
                margin-bottom: 0.5rem;
            }
            em, p {
                font-size: 1.25rem;
            }
        }
    }
    ul {
        padding: 0;
        li {
            &:before {
                content: "— ";
            }
            list-style: none;
        }
    }
    h1 {
        text-align: center;
    }
    h2 {
        color: rgb(255,45,85);
    }

}